<div class="post container">
    <div class="post-header-section">
        <h1>{{ or (.Params.H1 | markdownify) (.Title | markdownify) }}</h1>

        {{/* Determine whether to display the date & description based on tags */}}

        {{ $displayDate := true }}
	{{ $displayDescription := true }}
	{{ $postTags := or .Params.Tags slice }}
	{{ $hiddenTags := or .Site.Params.Hidden.Tags slice }}
	{{ $tagsHidePostDate := or .Site.Params.Hidden.TagsPostDate slice }}
        {{ $tagsHidePostDescription := or .Site.Params.Hidden.TagsPostDescription slice }}

	{{ if gt ($tagsHidePostDate | intersect $postTags | len) 0 }}
	  {{ $displayDate = false }}
	{{ end }}

	{{ if gt ($tagsHidePostDescription | intersect $postTags | len) 0 }}
	  {{ $displayDescription = false }}
	{{ end }}

	{{ if $displayDescription }}
          <small role="doc-subtitle">{{ .Description }}</small>
	{{ end }}

	{{ if $displayDate }}
          <p class="post-date">
              {{ if (eq .Site.Params.DisplayReadingTime true) }}
                  {{ .ReadingTime }} min read |
              {{ end }}

              {{ dateFormat (or .Site.Params.dateFormat "January 2, 2006") .Date }}

              {{ if lt .Date .Lastmod }}
                  | Updated {{ dateFormat (or .Site.Params.dateFormat "January 2, 2006") .Lastmod }}
              {{ end }}
          </p>
	{{ end }}

        <ul class="post-tags">
          {{ range $tag := $postTags }}
           {{ if not (in $hiddenTags $tag) }}
             <li class="post-tag"><a href="{{ "tags/" | absLangURL }}{{ . | urlize }}">{{ . }}</a></li>
           {{ end }}
         {{ end }}
        </ul>
    </div>

    <div class="post-content">
        {{ .Content }}
        
        <!-- Utterances Comments Section -->
        <div class="post-comments">
            <script src="https://utteranc.es/client.js"
                repo="x14ngch3n/x14ngch3n.github.io"
                issue-term="pathname"
                theme="github-light"
                crossorigin="anonymous"
                async>
            </script>
        </div>
        
        {{ if .Site.Config.Services.Disqus.Shortname }}
        <div class="post-comments">
            {{ template "_internal/disqus.html" . }}
        </div>
        {{ end }}
    </div>

    <div class="prev-next">
        {{ if (eq .Site.Params.TogglePreviousAndNextButtons true) }}
            {{ if or .PrevInSection .NextInSection }}
                {{ partial "prev-next.html" . }}
            {{ end }}
        {{ end }}
    </div>

    <!-- Back to top button -->
    {{ if .Site.Params.ShowBackToTopButton }}
        {{ partial "back-to-top.html" . }}
    {{ end }}
    
    {{ if .Site.Params.CustomCommentHTML }}
    <div id="comments">
        {{ .Site.Params.CustomCommentHTML | safeHTML }}
    </div>
    {{ end }}
</div>