{{ define "main" }}
<div class="post container">
    <div class="post-header-section">
        <h1>{{ or (.Params.H1 | markdownify) (.Title | markdownify) }}</h1>
    </div>

    <div class="post-content">
        {{ .Content }}

        {{ range sort .Site.Data.publications ".year" "desc" }}
        <ul>
            <li class="publication-item">
                <div class="pub-title"><strong>{{ .title }}</strong>
                    {{ if .pdf }}<a href="{{ .pdf }}" target="_blank" rel="noopener"><span data-feather='file-text'></span></a>{{ end }}
                    {{ if .code }}<a href="{{ .code }}" target="_blank" rel="noopener"><span data-feather='github'></span></a>{{ end }}
                    {{ if .slides }}<a href="{{ .slides }}" target="_blank" rel="noopener"><span data-feather='presentation'></span></a>{{ end }}
                    {{ if .video }}<a href="{{ .video }}" target="_blank" rel="noopener"><span data-feather='video'></span></a>{{ end }}
                    {{ if .arxiv }}<a href="{{ .arxiv }}" target="_blank" rel="noopener"><span data-feather='book'></span></a>{{ end }}
                </div>
                <div class="pub-authors">{{ .authors | replaceRE "Xiang Chen" "<strong>Xiang Chen</strong>" | safeHTML }}</div>
                <div class="pub-venue">{{ .venue }} {{ if .venue_short }} (<strong>{{ .venue_short }}</strong>){{ end }}
                </div>
            </li>
        </ul>
        {{ end }}
    </div>

    {{ if .Site.Params.ShowBackToTopButton }}
    {{ partial "back-to-top.html" . }}
    {{ end }}
</div>
{{ end }}